html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}


/* 登录注册按钮 */

.loginAndbox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title_box {
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}


/* 让盒子内有一些间距 */

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}


/* 设置字体图标的位置106+.
 */

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-input {
    text-indent: 1.5em;
}


/* 注册的盒子 */

.reg_box {
    display: none;
}